.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 4px;
  inline-size: 600px;
  padding: 4px 12px;
  border: 1px solid var(--color-stroke);
  border-radius: 6px;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding-inline-start: 0;
  font-size: 14px;
}

.tagPill {
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-weight: 500;
  line-height: 0;
  padding-inline-start: 10px;
  color: var(--color-accent);
  background-color: var(--color-primary-muted);
  border-radius: 2em;
}

.tagPill:hover {
  color: var(--color-emphasis);
  background-color: var(--color-primary);
}

.deleteTagBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 24px;
  inline-size: 26px;
  color: var(--color-accent);
  background-color: hsla(215, 98%, 61%, 0.1);
  border-radius: 2em;
}

.deleteTagBtn:hover {
  color: var(--color-emphasis);
}

.closeIcon {
  --size: 16px;
  inline-size: var(--size);
  block-size: var(--size);
}

.input {
  inline-size: 250px;
  min-block-size: 26px;
  padding: 0;
  font: inherit;
  font-size: 14px;
  color: inherit;
  background-color: transparent;
  border: none;
  border-radius: 6px;
}

.input:focus {
  outline: 1px solid var(--color-primary);
}
