.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 4px;
  inline-size: 600px;
  padding: 4px 12px;
  border: 1px solid hsl(212, 12%, 21%);
  border-radius: 6px;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding-inline-start: 0;
  font-size: 14px;
}

.tagPill {
  display: flex;
  align-items: center;
  column-gap: 4px;
  background-color: hsl(215 98% 61% / 0.1);
  color: hsl(214, 93%, 62%);
  border-radius: 2em;
  padding-inline-start: 10px;
  font-weight: 500;
  line-height: 0;
}

.tagPill:hover {
  color: hsl(0 0% 100%);
  background-color: hsl(216 84% 52%);
}

.deleteTagBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 24px;
  inline-size: 26px;
  border-radius: 2em;
  color: hsl(214 93% 62%);
  background-color: #388bfd1a;
}

.deleteTagBtn:hover {
  color: hsl(0 0% 100%);
}

.closeIcon {
  --size: 16px;
  inline-size: var(--size);
  block-size: var(--size);
}

.input {
  min-block-size: 26px;
  inline-size: 250px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  color: inherit;
  font: inherit;
  font-size: 14px;
}

.input:focus {
  outline: 1px solid hsl(216, 84%, 52%);
}
