.suggestedTagList {
  position: absolute;
  inset-inline: 0;
  inset-block-start: 100%;
  display: none;
  padding-inline-start: 0;
  background-color: var(--color-stroke);
  border: 1px solid var(--color-stroke);
  list-style: none;
  border-radius: 6px;
  overflow: hidden;
}

.suggestedTagList.display {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}

.suggestedTag {
  padding: 4px 16px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--color-bg);
}

.suggestedTag[aria-selected="true"],
.suggestedTag:hover {
  background-color: var(--color-primary);
}
